<!-- main -->
<section class="bg-inverse p-y-0">
    <div class="owl-carousel owl-slide full-height">
        <div class="carousel-item"
             style="background-image: url('content/img/carousel/carousel-1.jpg');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
                <div>
                    <h3 class="carousel-title">The Witcher 3: Blood and Wine</h3>
                    <p>The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
                    <a class="btn btn-primary btn-rounded btn-shadow btn-lg"
                       href="https://www.youtube.com/watch?v=c0i88t0Kacs" data-lightbox
                       role="button">Watch Gameplay</a>
                </div>
            </div>
        </div>
        <div class="carousel-item"
             style="background-image: url('content/img/carousel/carousel-2.jpg');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
                <div>
                    <h3 class="carousel-title">The Last of Us: Remastered</h3>
                    <p>Survive an apocalypse on Earth in The Last of Us, a PlayStation 4-exclusive title.</p>
                    <a class="btn btn-primary btn-rounded btn-shadow btn-lg"
                       href="https://www.youtube.com/watch?v=W2Wnvvj33Wo" data-lightbox
                       role="button">Watch Gameplay</a>
                </div>
            </div>
        </div>
        <div class="carousel-item"
             style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
            <div class="carousel-overlay"></div>
            <div class="carousel-caption">
                <div>
                    <h3 class="carousel-title">For Honor: The Berserker</h3>
                    <p>Enter the chaos of a raging war as a bold knight, brutal viking, or mysterious samurai.</p>
                    <a class="btn btn-primary btn-rounded btn-shadow btn-lg"
                       href="https://www.youtube.com/watch?v=BhTkoDVgF6s" data-lightbox
                       role="button">Watch Gameplay</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-y-80">
    <div class="container">
        <div class="heading">
            <i class="fa fa-steam"></i>
            <h2>Recent Games</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor and vitality, so that the labor and
                sorrow, some important things to do eiusmod.</p>
        </div>
        <div class="row">
            <div ng-repeat="game in vm.recentGames" class="col-12 col-sm-6 col-md-4">
                <div class="card card-lg">
                    <div class="card-img">
                        <a href="/game/post/{{game.id}}">
                            <img ng-src="{{game.image_url}}" class="card-img-top"
                                 alt="Assassin's Creed Syndicate">
                        </a>
                        <div class="badge badge-primary">{{game.platforms[0]}}</div>
                        <div class="card-likes">
                            <a href="/#">{{game.likes}}</a>
                        </div>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            <a href="/game/post/{{game.id}}">{{game.title}}</a>
                        </h4>
                        <div class="card-meta">
                            <span>{{vm.stringToDate(game.date) | date:'MMMM dd, yyyy'}}</span>
                        </div>
                        <p class="card-text">{{game.description}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-t-10" href="games.html">Show More</a>
        </div>
    </div>
</section>

<section class="bg-secondary no-border-bottom p-y-80">
    <div class="container">
        <div class="heading">
            <i class="fa fa-star"></i>
            <h2>Recent Reviews</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed tempor and vitality, so that the labor and
                sorrow, some important things to do eiusmod.</p>
        </div>
        <div class="row">
            <div ng-repeat="review in vm.recentReviews" class="col-12 col-sm-6 col-md-3">
                <div class="card card-review">
                    <a class="card-img" href="/game/review/post">
                        <img ng-src="{{review.image_url}}" alt="">
                        <div
                            class="badge {{review.rate > 7 ? 'badge-success' : review.rate > 4 ? 'badge-warning' : 'badge-danger'}}">
                            {{review.rate}}
                        </div>
                    </a>
                    <div class="card-block">
                        <h4 class="card-title">
                            <a href="/game/review/post">{{review.title}}</a>
                        </h4>
                        <p>{{review.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-image" style="background-image: url(https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="video-play"
             data-src="https://www.youtube.com/embed/IsDX_LiJT7E?rel=0&amp;amp;autoplay=1&amp;amp;showinfo=0">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item" src="https://img.youtube.com/vi/IsDX_LiJT7E/maxresdefault.jpg"
                     alt="">
                <div class="video-play-icon">
                    <i class="fa fa-play"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary promo">
    <div class="container">
        <h2>Create your own epic gaming site with gameforest</h2>
        <a class="btn btn-outline-default"
           href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730" target="_blank"
           role="button">Purchase Now
            <i class="fa fa-shopping-cart"></i>
        </a>
    </div>
</section>
<!-- /main -->
